* {
	font-family: Quicksand, sans-serif;
	font-weight: 500;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #f4a46036;
}

.main-title {
	margin: .3em;
	padding: .4em 2em;
	margin-bottom: 2em;
	font-size: 1.8em;
}